.ChatList {
  height: 85vh;
  padding-left: 20px;
  padding-bottom: 20px;
  margin: 50px;
  background-color: white;
  border-radius: 8px;
  overflow: hidden;
  .ChatList-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
  }
  .ChatList-items-container {
    overflow-y: scroll;
    height: 90%;
  }
}
