@use "../../../global.scss";

.CreateChatButton-wrapper {
  position: relative;
  .CreateChatButton-popOver {
    z-index: 999;
    position: absolute;
    right: 90%;
    top: 40px;
    width: 300px;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid rgba(0, 0, 0, 0.137);
    border-radius: 8px;
    background-color: white;
    form {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
      input {
        height: 20px;
        display: block;
        margin-bottom: 20px;
      }
    }
  }
}
