.ChatContent {
  background-color: white;
  border-radius: 8px;
  margin-right: 50px;
  position: relative;
  max-width: 50%;
  height: 87vh;
  h1, h4 {
    white-space: nowrap;
    max-width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 20px;
  }

  .ChatContent-messages-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-wrap: break-word;
    height: 85vh;
  }
  .ChatContent-messages {
    padding: 20px;
    height: 60vh;
    overflow-y: auto;
  }
  .NewMessage-form {
    position: absolute;
    bottom: 20px;
    width: 100%;
    input[type="text"] {
      width: 80%;
      height: 35px;
      margin-left: 20px;
    }
  }
  .ChatContent-empty {
    text-align: center;
    position: relative;
    top: 40%;
  }
}
